$font-icon: FontAwesome;
$color-0: white;
$color-1: black;
$color-2: grey;
$color-3: red;
$color-4: green;
$color-5: blue;
@import '../../../assets/stylesheets/mixins';
@import '../../../assets/stylesheets/offmenu';

.container {
  max-width: 600px;

  i {
    font-size: 20px;
    padding: 0 5px;
  }
}
tt {
  background-color: lighten(yellow, 40%);
  color: darken(yellow, 30%);
  padding: 3px;
}
li p {
  margin-bottom: 0;
  font-style: italic;
  color: #666;
}
