$font-icon: FontAwesome;
$color-0: white;
$color-1: black;
$color-2: grey;
$color-3: red;
$color-4: green;
$color-5: blue;
@import '../../../assets/stylesheets/mixins';
@import '../../../assets/stylesheets/offmenu';


.container {
  width: 600px !important;
}
