/* basic affordances */

:focus {
  outline-color: transparent;
  outline-style: none;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.5s 0.1s ease; 
  text-indent: -50%;
  opacity: 0;
}
a {
  @include transition;
}
#{headings()} {
  $font-family: $font-2;
  font-weight: normal;
}


@import "base/bootstrap";
@import "base/dense";
@import "base/modernizr";











