$side-width:             250px;
$side-duration:          .4s;
$side-position:          left;

$side-fade:              true;
$side-container-blur:    false;

.side-content {
  /* critical sizing and position styles */
  width: $side-width;
  height: 100%;
  position: fixed;
  top: 0;
  @include trans;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 10px;
  @include box;
  background: #111;
  color: white;
  @if $side-fade == true {
    @include opacity(0);
    #side-toggle:checked + & {
      @include opacity(100);
    }
  }

  @if $side-position == "left" {
    left: 0;
  }
  @else if $side-position == "right" {
   right: 0;
 }
}
.container {
  min-height: 100%;
  min-width: 100%;
  background-color: $color-0;
  position: relative;
  top: 0 !important;
  bottom: 100%;
  @if $side-position == "left" {
    left: 0;
  }
  @else if $side-position == "right" {
   right: 0;
 }
 z-index: 1;
}


label[for="side-toggle"] {
  position: fixed;
  top: 0;
  z-index: 2;
  cursor: pointer;

  &:before {
    content: "\f0c9";
      vertical-align: middle;
    font-size: 30px;
    padding: 5px;
    font-family: $font-icon;
    #side-toggle:checked ~ & {
    content: "\f057";
  }
  }

  @if $side-position == "left" {
    left: 0;
  }
  @else if $side-position == "right" {
    right: 0;
  }
}

#side-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  &:checked {
    & ~ label[for="side-toggle"] {
      @if $side-position == "left" {
        left: $side-width;
      }
      @else if $side-position == "right" {
       right: $side-width;
     }
   }
   & ~ .container {
    @if $side-container-blur == true {
      * {
        @include trans;
        @include filter(blur, 2px);
      }
    }
    @if $side-position == "left" {
     left: $side-width;
   }
   @else if $side-position == "right" {
     right: $side-width;
   }
 }
}
}

#side-toggle ~ label[for="side-toggle"], .container {
  transition: $side-position $side-duration;
}
body {
  overflow-x: hidden;
}
html, body {
  height: 100%;
  width: 100%;
}
