// brand variables

// Fonts
$font-title: dense;
$font-text: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-mono: "Courier New", Courier, monospace;
$font-icon: FontAwesome;

// Gap
$gap-1: 10px;

// Colors
$color-bg: violet;
$color-primary: green;
$color-secondary: #666;
$color-tertiary: brown;
$color-4: red;
$color-5: blue;

@import 'base';
@import 'mixins';
@import 'colors';
@import 'animate';
@import 'colortest';
@import 'layout';
@import 'modules';

a[data-toggle="collapse"] {
	color: #333;
	display: block; 
	&:hover {
		text-decoration: none;
	}
}

a.label {
	@extend .label;
	padding-bottom: 2px;
	padding: 5px 15px 2px 15px !important;
	color: #333;
	border-bottom: dotted 1px #333;
	&:hover {
		color: #333;
	}
}

.credits a {
	padding: 5px !important;
}
