@import 'mixins';
@import 'base';
@import 'colors';
@import 'colortest';
@import 'animate';
@import 'layout';
@import 'modules';

a[data-toggle="collapse"] {
	color: #333;
	display: block; 
	&:hover {
		text-decoration: none;
	}
}

a.label {
	@extend .label;
	padding-bottom: 2px;
	padding: 5px 15px 2px 15px !important;
	color: #333;
	border-bottom: dotted 1px #333;
	&:hover {
		color: #333;
	}
}

.credits a {
	padding: 5px !important;
}
